<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Socket Admin</title>
  </head>
  <body>
    <div>
      <button type="button" onclick="callUrl('/admin/startSimulation')">
        Start Simulation
      </button>
      <button type="button" onclick="callUrl('/admin/stopSimulation')">
        Stop Simulation
      </button>
    </div>
    <div style="margin-top: 1rem">
      <input
        id="ipTicServer"
        type="number"
        min="5"
        step="500"
        value="<%= ticInterval %>"
      />
      <button type="button" onclick="setTicInterval()">Set TicInterval</button>
    </div>
    <div style="margin-top: 1rem">
      <input
        id="ipTicSim"
        type="number"
        min="5"
        step="500"
        value="<%= intervalTimeActions %>"
      />
      <button type="button" onclick="setSimInterval()">Set SimInterval</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </body>

  <script>
    function callUrl(url) {
      $.ajax(url);
    }
    function setTicInterval() {
      const url = '/admin/tic/' + $('#ipTicServer').val();
      console.log('setTicInterval >> url', url);
      $.ajax(url);
    }
    function setSimInterval() {
      const url = '/admin/sim/' + $('#ipTicSim').val();
      console.log('setSimInterval >> url', url);
      $.ajax(url);
    }
  </script>
</html>
