<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div style="border: 10px solid #f1a185; margin: 5rem">
        <h1
          style="
            font-family: sans-serif;
            color: #001a29;
            text-align: center;
            margin-top: 3em;
            margin-bottom: 3em;
          "
        >
          Welcome to Monkey Plan!
        </h1>
        <div style="margin-bottom: 3em">
          <p
            style="
              font-family: sans-serif;
              color: #001a29;
              text-align: center;
              font-size: 1.5em;
            "
          >
            You receive this message because your e-mail address was used to
            create an accout at Flowting Ananas.
          </p>
          <h5
            style="
              font-weight: lighter;
              font-family: sans-serif;
              color: #001a29;
              text-align: center;
              font-size: 1.5em;
            "
          >
            Please click this <a href="<%= link %>">Link</a> to confirm your
            account and start creating your first yoga class.
          </h5>
        </div>
        <div>
          <p
            style="font-family: sans-serif; color: #001a29; text-align: center"
          >
            If it was not you who created this account, please ignore this
            e-mail.
          </p>
          <p
            style="font-family: sans-serif; color: #001a29; text-align: center"
          >
            We will delete this account, if you do not confirm it whithin 7
            days.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
